`
{{ range .Typedefs }}
    typedef {{ .Name }} {{ .Type }}
{{ end }}

{{ range .Structs }}
    struct {{ .Name }} {
    {{ range .Fields }}
        {{.Num}}: {{ .Status}} {{ .Type}} {{ .Name }}
    {{ .end }}
    }
{{ end }}

{{ range .Services }}

service {{ .Name }}
{{ range .Methods}}
    {{ .ReturnType}} {{ .Name }}({{ .Params }})
{{ end }}

{{ end }}

`
